[Unit]
Description=breach API (uvicorn)
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/debian/breach

# 环境变量
Environment="PATH=/home/debian/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin"

# 启动命令
ExecStart=/home/debian/.local/bin/uv run uvicorn main:app --host 0.0.0.0 --port 3001  --workers 4

# 自动重启
Restart=always
RestartSec=3

# 日志
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target